* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
p {
  text-align: center;
  margin: 20px 0;
}

main {
  width: 800px;
  height: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  border: 10px solid #714800;
}

main > div {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
main > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

main > div > div:nth-child(2n) {
  background-color: #000;
}
main > div:nth-child(2n) > div:nth-child(2n + 1) {
  background-color: #000;
}
main > div:nth-child(2n) > div:nth-child(2n) {
  background-color: #fff;
}
i {
  cursor: pointer;
  font-size: 2rem;
  padding: 0.5rem;
  color: #777;
  border: 2px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
  width: 40%;
  height: 40%;
  position: relative;
}
i::before {
  width: fit-content;
  height: fit-content;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
i:hover {
  background-color: #3d87ac;
  border-color: #0c81bb;
}
.selected {
  background-color: #3d87ac;
  border-color: #0c81bb;
}
/* TODO: Make this work in a better way than making up a class to break specificity. */
main > div > div.possible:not(.imaginary) {
  background-color: #abde78;
  border: 5px solid #0c81bb;
  cursor: pointer;
}
aside {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 120px;
  border: 10px solid #714800;
  margin: 10px auto;
}
